.card {
  padding: 16px !important;
  display: flex;
  justify-content: space-between;
  max-width: 544px;
}

.productImage {
  width: 100px;
  height: 100px;
}

.cardContent {
  width: calc(100% - 100px);
}
