.bgWhite {
  background-color: #fff;
}

.navigationSection {
  padding: 16px 0;
}

.headerContent {
  display: grid;
  grid-gap: 24px;
  grid-template-areas: "image info";
  grid-template-columns: 30% 1fr;
  grid-template-rows: auto;
  padding-bottom: 32px;
}

.bannerSection {
  max-width: 475px;
  // width: 475px;
  min-width: 200px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.categorySection {
  padding-top: 8px;
}

.contentSection {
  display: flex;
  justify-content: space-between;
}

.addressSection {
  padding-top: 8px;
}

.infoSection {
  padding-top: 16px;
}

.ratingSection {
  padding-top: 16px;
}

.contentSectionRightPanel {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.orderButton {
  min-height: 40px;
  padding: 8px 16px;
}

@media only screen and (max-width: 1280px) {
  .contentSection {
    display: block;
    flex-direction: column;
    justify-content: start;
  }

  .contentSectionRightPanel {
    display: block;
  }
}

@media only screen and (max-width: 540px) {
  .bgWhite {
    width: 100%;
  }

  .headerContent {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    padding-bottom: 32px;
  }

  .bannerSection {
    max-width: 100%;
    width: 100vw;
    min-width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
