.modalContainer {
  width: 100%;
}

.iconButton {
  position: absolute;
  right: 8px;
  top: 8px;
  background-color: #fff;
}

.iconButton:hover {
  background-color: #fff;
}

.modalContentContainer {
  max-height: 760px;
  overflow-y: scroll !important;
  overflow-x: hidden;
}

.contentWrapper {
  padding: 16px;
  border-top: none;
}
