.modalContainer {
  width: 100%;
}

.iconButton {
  position: absolute;
  right: 8px;
  top: 8px;
  background-color: #fff;
}

.iconButton:hover {
  background-color: #fff;
}

.contentWrapper {
  padding: 16px;
  border-top: none;
}

.title {
  color: #2e3333;
  font-size: 28px;
  line-height: 36px;
  font-weight: bold;
  font-family: plex-sans, sans-serif !important;
}

.actionWrapper {
  display: flex;
  flex-direction: column;
  padding: 16px !important;
  button {
    margin-right: 0;
  }
}
