@import "./variables";

.text-color-dark {
  color: $secondary !important;
}

.lightDark {
  color: $lightDark !important;
}

.text-color-success-light {
  color: $success-light !important;
}

.text-color-white {
  color: #fff !important;
}

.text-color-primary {
  color: $primary !important;
}
