body {
  margin: 0;
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
}

span {
  font-family: "IBM Plex Sans", sans-serif;
}

.MuiContainer-maxWidthXl {
  max-width: calc(100% - 80px) !important;
}

.MuiContainer-maxWidthLg {
  max-width: calc(100% - 465px) !important;
  padding: 0 64px !important;
}
