$primary: #00ccbc;
$secondary: #2e3333;
$white: #fff;
$disabled-bg: #e2e5e5;
$disabled-text: #abadad;
$success: #4d7c1b;
$success-light: #4d7c1b;
$lightDark: #585c5c;

$mainBg: #f9fafa;
$secondary-bg: #434747;
$dark-light-bg: #434747;
