@import "../../../asset/scss/variables";

.navbarContainer {
  position: fixed !important;
  background-color: $white !important;
  height: 72px;

  box-shadow: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  width: 100% !important;
}
.container {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

.logo {
  img {
    width: 121px;
    height: 32px;
  }
}

.navbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputSearch {
  background: #f5f5f5;
  border: 1px solid #f5f5f5 !important;
  font-size: 16px;
  border-radius: 4px;
  box-shadow: none;
  outline: #f5f5f5;
  input {
    height: 27px;
  }
}

.searchContentSection {
  width: 40%;
}
.inputFieldWrapper {
  max-width: 650px;
}

.inputSearch:focus {
  outline: none;
  box-shadow: inset 0 2px 4px #0000000d, 0 0 0 3px #ffffff4d;
  border: 2px solid #2e3333;
  padding-left: 39px;
  background: #fff;
}

.menuButton {
  text-transform: capitalize !important;
  height: 46px;
  margin-right: 20px;
  color: #2e3333 !important;
}

.bottomSection {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-top: 100%;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (max-width: 540px) {
  .searchContentSection {
    display: none;
  }
}
