.contentWrapper {
  margin-top: 32px;
}

.contentWrapper {
  display: grid;
  grid-gap: 0px 24px;
  grid-template-areas: "menu";
  grid-template-columns: 70% 1fr;
  grid-template-rows: auto 1fr;
}

.icon {
  width: 48px;
  height: 48px;
}

.content {
  padding-top: 32px;
  padding-bottom: 24px;
}

.fixedContainer {
  top: 72px !important;
  position: sticky !important;
  z-index: 100;
}

.cartSection {
  position: sticky !important;
  top: calc(73px + 32px + 73px);
  align-self: start;
  overflow: hidden;
  position: sticky;
}
