@import "../../../asset/scss/variables";

.content {
  background-color: $mainBg;
  min-height: calc(100vh - 372px);
  margin-top: 70px;
}

.footerContainer {
  background-color: $secondary;
  min-height: 300px;
}

@media only screen and (max-width: 540px) {
  .content {
    width: fit-content;
  }
}
